.what-i-offer-grid{
    background-color: black;
    padding: 20px 12%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px,1fr));
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.what-i-offer-grid .partitions{
    padding: 30px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.partitions h2{
    font-family: "inspiration",serif;
    font-size: 30px;
    font-weight: 600;
    color: rgb(180, 180, 180);
    text-align: center;
    margin-bottom: 16px;
}
.partitions p{
    color: rgb(184, 184, 184);
    margin: 6px 8px 26px;
    text-align: center;
}
.partitions h3{
    color: rgb(197, 197, 197);
    font-weight: 500;
    text-align: center;
    font-size: 18px;
}
.detail{
    padding: 0 20px;
}


.what-i-offer-grid .skill-set{
    background-color:  rgb(21, 19, 19) ;
    width: 300px;
    margin: 0 auto;
    padding: 20px 20px;
    height: 160px;
    box-shadow: inset 8px 10px 20px rgba(0, 0, 0, 0.5);
}
.skill-set h2{
    font-weight: 600;
    color: rgb(194, 194, 194);
    font-size: 20px;
}
.partitions .skill-icons{
    display: grid;
    justify-content: center;
    padding: 0 18px; 
    list-style: none;
    grid-template-columns: repeat(4,60px);
    gap: 2px;
}
.skill-icons li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}
.skill-icons li .icon{
    font-size: 22px;
}
.skill-icons li h4{
    margin-top: 6px;
    color: rgb(236, 236, 236);
    font-size: 14px;
    font-weight: 500;
}
.skill-icons .fahtml{
    color: #F1662A;
}
.skill-icons .facss{
    color: #33A9DC;
}
.skill-icons .fajs{
    color: #F5DE19;
}
.skill-icons .fanode{
    color: #21A366;
}
.skill-icons .fareact{
    padding: 2px;
    color: #21A366;
    background-color: white;
    border-radius: 50%;
}
.skill-icons .fadatabase{
    color: #bdbfbf;
}
.skill-icons .fagit{
   color: white;
}

.certeficates{
    height: 78vh;
    background-color:  rgb(21, 19, 19);
}
.certeficates img{
    width: 150px;
    padding: 18px 16px;
    margin: 20px 0;
    background-color: rgb(94, 94, 94);
    display: block; /* Removes the default gap around images */ 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9); /* Adds the shadow */
}
.certeficates img:hover{
    position: relative;
    transform: translateY(10px) scale(1.6); /* Move up and scale */ 
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.certeficates h2{
    font-family: "inspiration",serif;
    font-size: 38px;
    font-weight: 600;
    color:rgb(194, 194, 194);
    padding: 48px 0 2px;
    text-align: center;
}
.certeficates p{
    color:rgb(194, 194, 194);
    font-family:  "inspiration",serif;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.scrollable{
    display: flex;
    align-items: center;
    width: 72%;
    margin: 30px auto;
}
.proof-images{
    padding: 0 16px;
    display: flex;
    overflow-x: scroll; 
}
.proof-images::-webkit-scrollbar{
    display: none;
}
.scrollable button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.scrollable .fasolid{
    font-size: 50px;
    color: rgb(176, 176, 176);
    box-shadow: 3px 5px rgb(0,0,0,0.7);
}

@media(max-width:1090px){
    .what-i-offer-grid{
        padding: 20px 8%;
        gap: 2px;
    }
    .what-i-offer-grid .skill-set{
        width: 265px;
        margin-bottom: 10px;
    }
}
@media(max-width:980px) and (min-width:700px){
    .what-i-offer-grid {
        grid-template-columns: repeat(1,72%);
        padding-bottom: 60px;
    }
    .detail{
        padding: 0 34px;
    }
}
@media(max-width:700px){
    .what-i-offer-grid{
        grid-template-columns: repeat(1,86%);
    }
}