.gridContainer h1, .gridContainer h2{
    font-family: "inspiration",serif;
    color: var(--body_color);
    font-weight: var(--partitions_weight);
}
.gridContainer img{
    filter: grayscale(100%);
    height: 210%;  /* Adjusted to ensure proper cropping*/
    object-position: center;
    object-fit: cover;
}
.portraitContainer{
    margin: 10px auto 0;
    padding: 30px 0 0 15px;
    width: 300px;
    height:310px;
    border-radius: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3CA9C1;
}
.partitions{
    padding: 14px 8px;
}
.partitions h1{
    font-size: 64px;
    margin:0 0 7px 48px; 
}
.partitions h2{
    font-size: 32px;
    margin-left: 144px;
    
}
.single {
    background-color:var(--box_background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.stairStyle{          /* ensure a stair- style effect*/
    display: block;
    padding-left: 48px;
    margin-top: -5px;
}
.gridContainer{
    background-image: var(--body_image);
    background-color: var(--body_background);
    padding: 32px 130px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    justify-content: center;
    gap: 16px;
}




.partitions .icons{
    width: 80px;
    margin: 50px auto 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
    border-radius: 5px;
    padding: 8px;
}
.icons .fabb{
    font-size: 19px;
}
.icons .falinkedin{
    color: #3CA9C1;
    background-color: black;
}
.icons .fagithub{
    color: #FFFFFF;
    background-color: black;
}
.icons .fainstagram{
    color: #AA6B95;
    background-color: black;
}


.partitions p{
    font-weight: var(--partitions_weight);
    margin: 0 40px 30px;
    color: var(--partitions_color);
    text-align: center;
}
