:root {
    --body_background:black;
    --body_color:rgb(183, 183, 183);
    --partitions_color:rgb(183, 183, 183);
    --partitions_weight:500;
    --nav_color:white;
    --nav_font:24px;
    --header_background:black;
    --border_header:1px solid #97820b;
    --box_background: none;
    --nav_hover:#4C420A;
    --btn_background:#110F01;
    --btn_hover:#a38c08;
    --span:#BCA20D;
    --about_color:rgb(210, 210, 210);
    --about_background:rgb(5, 4, 4);
    --aboutP_color:rgb(213, 213, 213);
    --hobbies_background:rgba(0, 0, 0, 0.82);
    --hobbies_filter:none;
    --about_font:16px;
    --connect-background:#090808;
    --skill_background:rgb(21, 19, 19);
    --certeficates_background:rgb(21, 19, 19);
    --certeficates_img_background:rgb(60, 60, 60);
    --scroll_btn_color:rgb(176, 176, 176);
    --scroll_btn_shadow:3px 5px rgb(0,0,0,0.7);
    --projects_background:rgb(8, 7, 7);
    --collaboration_gradient:linear-gradient(to bottom,black 60%,rgb(37, 37, 37));
    --contact_background:black;
    --contact_box:#121212 ;
    --font_family:'SparkleShine',serif;
    --about_gradient:none;
    --offering_gradient:none;
}



[data-theme="light"]{
    --span:#8b7708;
    --btn_hover:#af9608;
    --btn_background:#756809;
    --nav_hover:#cac8b2;
    --box_background: rgb(184, 184, 184);
    --body_background:rgb(180, 180, 180);
    --body_color:rgb(0, 0, 0);
    --partitions_color:rgb(0, 0, 0);
    --partitions_weight:700;
    --nav_color:black;
    --nav_font:25px;
    --header_background:#E0E0E0;
    --border_header:2px solid #1a1a1a;
    --about_color:rgb(0, 0, 0);
    --about_background:none;
    --about_gradient:linear-gradient(to bottom, rgb(145, 145, 145),rgb(195, 195, 195), rgb(141, 141, 141));
    --aboutP_color:rgb(0, 0, 0);
    --hobbies_background:rgba(174, 174, 174, 0.6);
    --hobbies_filter:blur(3px);
    --about_font:17px;
    --connect-background:#a5a5a5;
    --skill_background:rgb(175, 173, 169);
    --certeficates_background:rgb(165, 165, 165);
    --certeficates_img_background:rgb(202, 202, 202);
    --scroll_btn_color:rgb(27, 27, 27);
    --scroll_btn_shadow:3px 4px rgb(0,0,0,0.3);
    --projects_background:rgb(148, 148, 148);
    --collaboration_gradient:linear-gradient(to bottom,rgb(196, 196, 196) 60%,rgb(137, 137, 137));
    --contact_background:rgb(121, 121, 121);
    --contact_box:#adadad ;
    --font_family:"Irish Grover", serif;
    --offering_gradient:linear-gradient(to bottom, rgb(110, 110, 110),rgb(214, 214, 214), rgb(124, 124, 124));
}


