.aboutMe{
    display: flex; 
}
.aboutMe .partition{
    height: 80vh;
    width: 50%;
    padding-bottom: 20px;
    background-image: var(--about_gradient); 
    background-color: var(--about_background);  
}
.partition .imageContainer{
    width: 330px;
    padding: 48px 0 4px;
    margin: 0 auto ;
    display: flex;
}
.imageContainer img{
    width: 190px;
    object-fit: cover;
    margin: -38px -28px 0;
    filter: grayscale(95%); 
}
.imageContainer .image{
    width: 150px;
    height: 200px;
    overflow: hidden;
    border: 2px solid black;
    box-shadow: 12px 8px 8px rgb(0,0,0,0.6);
}
.imageContainer:hover  .img-1{
    transform: rotatey(80deg);
    transform-origin: right;
    transition: transform 2s ease;
}
.imageContainer:hover  .img-2{
    transform: rotatey(-80deg);
    transform-origin: left;
    transition: transform 2s ease;
}
.imageContainer .img-1{
    transform: rotate(-18deg);
    z-index: 3;
}
.imageContainer .img-2{
    transform: rotate(18deg);
}
.partition h2{
    font-family: 'SparkleShine',serif;
    font-weight: 500;
    font-size: var(--about_h2_font);
    text-align: center;
    margin: 16px 0;
    color: var(--about_color);
}
.partition p{
    margin: 0 16%;
    text-align: center;
    color: var(--aboutP_color);
    font-size: var(--about_font);
    font-weight: var(--partitions_weight);
}
.aboutMe .hobbies{
    position: relative;
    background-image: url(../../images/aesthetic-image.jpg);
    background-size: cover; /* Makes the background cover the entire container */ 
    background-position: center; /* Centers the background image */ 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutMe .hobbies::before { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    backdrop-filter: var(--hobbies_filter);
    background-color: var(--hobbies_background) ;/* Black color with 50% transparency */ 
    z-index: 1; /* Places the overlay above the background image */ 
}
.aboutMe .hobbies > *{
    position: relative;
    z-index: 3;
}
.aboutMe .hobbies h2{
    margin: -10px 0 16px;
}
.letsConnect{
    padding: 20px 0;
    background-color: var(--connect-background);
    height: 86vh;
}
.letsConnect .circle{
    max-width: 500px;
    margin: 0 auto;
    height: 400px;
    border-radius: 50%;
    padding: 15px;
    background-color: var(--about_background);
    background-image: var(--about_gradient); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 15px 15px 13px rgba(0, 0, 0, 0.2); 
}
.letsConnect .circle h2{
    text-align: center;
    margin: -30px 0 16px;
    color: var(--about_color);
    font-family: 'SparkleShine',serif;
    font-size: var(--connect_h2_font);
    font-weight: 500;

}
.letsConnect .circle p{
    margin: 5px 55px 40px;
    text-align: center;
    font-size: var(--about_font);
    color: var(--aboutP_color);
    font-weight: var(--partitions_weight);
}

@media (max-width:768px) {
    .aboutMe{
        display: block;
    }
    .aboutMe .partition{
        width: 100%;
    }
}


